body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*NavBar*/

#verde{
    background: rgba(39, 174, 96, 0.3);
    height: 100vh;
    width: 100%;
}

#navbarSupportedContent{
    justify-content: space-between;
}

#navbarSupportedContent form{
    margin-left: 30vw;
}

#navbarSupportedContent form input{
    width: 20vw;
}

#nav_but{
    border-color: white;
}

#nav_but:hover{
    outline: none;
}

#nav_img{
    filter: invert(1);
}

#adicionar{
    margin-right: 1vw;
}

/*Main*/

#fundo{
    background-color: white;
    width: 90%;
    height: 80%;
    margin-left: 5vw;
    padding: 2vh;
    margin-top: 2vh;
    border-radius: 10px;
    position: absolute;
    overflow: auto;
}

#titulo{
    font-size: 20px;
    margin-bottom: 5vh;
    font-weight: 700;
}

#carta{
    flex-direction: row;
    padding: 15px 20px;
    background-color: rgba(227, 227, 227, 0.9);
    border: none;
}

.editar{
    margin-left: 5.5vw;
    position: absolute;
    right: 1vw;
    background-color: #C4C4C4;
    border: none;
    border-radius: 8px;
    outline: none;
}

.editar .img{
    padding: 5px 10px 8px;
}

.card img{
    width: 100px;
    margin-top: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0.5vh 0vw 0vh 3vw;
}

#Estoque{
    font-weight: bold;
}

#conteudo{
    margin-bottom: 20px;
}

/*Footer*/

footer{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 2vh;
    margin-top: 5vh;
    position: fixed;
    width: 100%;
    bottom: 0;
}